.vh,
.visually-hidden {
    position: fixed;
    z-index: 20;

    &:not(:focus):not(:active) {
        position: absolute;
        width: 1px;
        height: 1px;
        clip-path: inset(50%);
        overflow: hidden;
        white-space: nowrap;
    }
}

.skiplink {
    display: block;
    top: 1rem;
    left: 1rem;
    padding: 1em;
    background-color: #111;
    color: #eee;
}

.u-hidden { display: none; }

.u-quiet,
.u-muted {
    --color-link: var( --default-muted );
    --color-hover: var( --default-ink );

    color: var( --default-muted );

    a {
        text-decoration: underline;

        &:hover {
            text-decoration: underline dashed;
        }
    }
}

.u-hyphen {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

a.u-tel {
    color: currentcolor;
    text-decoration: none;
}

.noscroll {
    overflow: hidden;
}