html {
    /*
        Specific Colors, only raw HSL
        https://reasonable.work/colors/
    */

    --raspberry-1: #fff8f8;
    --raspberry-2: #ffdddf;
    --raspberry-3: #ff426c;
    --raspberry-4: #de0051;
    --raspberry-5: #82002c;
    --raspberry-6: #510018;

    --cerulean-1: #e8f6ff;
    --cerulean-2: #b9e3ff;
    --cerulean-3: #0092c5;
    --cerulean-4: #00749d;
    --cerulean-5: #003c54;
    --cerulean-6: #001d2a;

    --gray-1: #f6f6f6;
    --gray-2: #e2e2e2;
    --gray-3: #8b8b8b;
    --gray-4: #6f6f6f;
    --gray-5: #3e3e3e;
    --gray-6: #222;

    /*
        Functional Colors
    */
    --global-text: #444;
    --global-fill: #fff;
    --global-muted: #707070;
    --global-ui: #f4f4f4;
    --global-borderColor: #ddd;
    --global-link: var( --cerulean-4 );
    --global-hover: var( --raspberry-4 );

    /*
        Brand Colors
    */
    --global-primary: var( --cerulean-4 );
    --global-onPrimary: #fff;
    /* --global-primary-dark: color-mix( in oklab, var( --global-primary ), #000 30% ); */
    /* --global-primary-light: color-mix( in oklab, var( --global-primary ), #fff 30% ); */
    --global-secondary: var( --raspberry-4 );
    --global-onSecondary: #fff;

    --global-radius: .2em;


    --selection-text: #111;
    --selection-fill: var( --cerulean-2 );

    --scrollbar-track: hsl( 0 0% 100% / .2 );
    --scrollbar-thumb: var( --global-primary );

    --outline-size: max( 2px, .08em );
    --outline-style: solid;
    --outline-ink: var( --raspberry-4 );
    /* --outline-offset: .2em; */

    /*
        Component (form) Specific
        values equaling defaults are commented
    */
    --f-form-label-ink: #555;
    /* --f-form-placeholder: #777; */
    /* --f-form-outline-ink: var( --cerulean-4 ); */
    /* --f-form-error-ink: #a80000; */
    /* --f-form-error-surface: #ffe6e6; */

    /* --f-input-ink: var( --global-text ) */
    /* --f-input-surface: #fff; */
    /* --f-input-border: var( --global-borderColor ); */
    /* --f-input-padding: .7rem; */
    --f-input-border-hover: var( --cerulean-4 );
    --f-input-halo-hover: color-mix( in oklab, var( --cerulean-3 ), transparent 20% );
    /* --f-input-ink-disabled: var( --gray-4 ); */
    /* --f-input-surface-disabled: var( --gray-1 ); */
    /* --f-input-border-disabled: var( --gray-2 ); */

    /* --f-bool-ink-checked: #fff; */
    /* --f-bool-surface-checked: var( --cerulean-4 ); */
    /* --f-bool-ink-disabled: var( --gray-4 ); */
    /* --f-bool-surface-disabled: var( --gray-1 ); */

    /* --f-dropdown-surface: #fff;  */

    /*
        Component (organism) Specific
    */
    --o-footer-surface: var( --cerulean-6 );

    --o-headline-ink: var( --cerulean-6 );

}