{% spaceless %}
{% set modular_classes = [
    'modular',
    'wrapping',
] %}

{% if page.header.layout_alt %}
    {% set modular_classes = modular_classes|merge( ['modular--alt'] ) %}
{% endif %}
{% endspaceless %}

<section class="{{ modular_classes|join( ' ' )|trim }}">
    <h2 class="modular__title">{{ page.title }}</h2>
    <div class="textflow">
        {{ page.content|raw }}
    </div>
</section>
