<section class="modular wrapping">
    <div class="wrapped">
        <h2 class="modular__title">{{ page.title }}</h2>
        <div class="textflow">
            {{ page.content }}
        </div>
    </div>
</section>
