{
    "plugins": [ "@stylistic/stylelint-plugin" ],
    "rules": {
        "@stylistic/indentation": 4,
        "@stylistic/color-hex-case": [ "lower" ],
        "color-hex-length": [ "short" ],
        "color-named": [ "never" ],
        "color-no-invalid-hex": true,

        "@stylistic/declaration-bang-space-after": [ "never" ],
        "@stylistic/declaration-bang-space-before": [ "always" ],
        "@stylistic/declaration-colon-space-after": [ "always-single-line" ],
        "@stylistic/declaration-colon-space-before": [ "never" ],

        "font-family-name-quotes": [ "always-where-recommended" ],
        "font-weight-notation": [ "numeric" ],

        "function-calc-no-unspaced-operator": true,
        "@stylistic/function-comma-newline-after": "always-multi-line",
        "@stylistic/function-comma-newline-before": "never-multi-line",
        "@stylistic/function-comma-space-after": [ "always-single-line" ],
        "@stylistic/function-comma-space-before": [ "never" ],
        "@stylistic/function-parentheses-newline-inside": [ "always-multi-line" ],
        "function-url-quotes": [ "always" ],
        "@stylistic/function-whitespace-after": [ "always" ],

        "@stylistic/number-no-trailing-zeros": true,
        "@stylistic/number-leading-zero": "never",
        "number-max-precision": 3,
        "length-zero-no-unit": true,

        "@stylistic/string-quotes": "single",

        "@stylistic/property-case": "lower",
        "@stylistic/unit-case": "lower",
        "value-keyword-case": [ "lower", {
            "ignoreProperties": [ "@font-stack", "font-family", "font" ]
        } ],
        "unit-no-unknown": true,
        "shorthand-property-no-redundant-values": true,

        "selector-max-id": 0,
        "selector-type-case": "lower",
        "@stylistic/selector-pseudo-class-case": "lower",
        "@stylistic/selector-pseudo-element-case": "lower",
        "@stylistic/selector-list-comma-newline-after": "always",
        "@stylistic/selector-list-comma-newline-before": "never-multi-line",

        "declaration-no-important": true,
        "@stylistic/declaration-block-trailing-semicolon": "always"
    }
}
