.home {
    /* Behelfsvehikel für unausgereifte Verwendung der media componente */
    .media-block,
    .news {
        margin-top: calc( var( --gap ) * 2 );
        margin-bottom: calc( var( --gap ) * 2 );
    }

    .bullets__headline {
        margin-top: var( --gap );
        padding-top: var( --gap );
        border-top: 1px solid var( --border-color );
    }
}