.product {

    &__features {
        display: flex;
        flex-wrap: wrap;
        margin-top: -1ch;
        margin-bottom: var( --gap );

        &__item {
            margin-right: 1ch;
            margin-bottom: .5ch;
        }

        .icon {
            color: var( --brand-color );
        }
    }

    &__price {
        margin: var( --gap ) 0;

        small {
            display: block;
            font-size: .4em;
        }
        &--month {
            font-size: 3em;
            color: var( --brand-color );
        }
        &--total {
            font-size: .9em;
            color: var( --text-muted );
        }
    }

    &__action {
        text-align: center;
        margin: var( --gap ) 0;

        .button {
            display: inline-flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            max-width: 15em;
            font-size: 1.2em;
        }
    }

    &__reference {
        margin: calc( var( --gap ) * 2 ) 0;
        color: var( --text-muted );
    }

}