{% do assets.addCss('theme://dist/css/devalert.css', 99) %}

<div class="devalert">
    Der aktuelle Arbeitsstand ist nur für die Darstellung auf mobilen Geräten und mit modernen Browsern ausgelegt.
</div>