.footer {
    /*
        API:
        --o-footer-ink          text color
        --o-footer-surface      background color
        --o-footer-link         link text color
        --o-footer-hover        hover link text color
    */
    --_bg: var( --o-footer-surface, var( --global-primary) );
    --_txt: var( --o-footer-ink, var( --global-onPrimary ) );
    --link-color: var( --o-footer-link, currentcolor );
    --link-hover: var( --o-footer-hover );

    padding-top: var( --gap-m );
    padding-bottom: var( --gap-m );
    color: var( --_txt );
    background-color: var( --_bg );

    .wrapped {
        position: relative;
    }

    &__nav {
        .menu {
            display: flex;
            flex-wrap: wrap;
            font-size: .9em;
        }

        .menu__item + .menu__item {
            margin-left: 1ex;
            padding-left: 1ex;
            border-left: 1px solid;
        }

        .menu__link {
            display: block;
            line-height: 1.1;
        }
    }

    &__social {
        display: flex;
        margin-top: var( --global-lineHeight );
        margin-left: calc( var( --gap-xs ) * -1 );
        font-size: 1.5em;

        &__link {
            padding: var( --gap-xs );
        }
    }

    &__elevator {
        padding: 1rem;
        position: absolute;
        inset-inline-end: -1rem;
        inset-block-end: -1rem;
    }
}