.footer {
    /*
        API:
        --o-footer-ink          text color
        --o-footer-surface      background color
        --o-footer-link         link text color
        --o-footer-hover        hover link text color
    */
    --_bg: var( --o-footer-surface, var( --default-primary) );
    --_txt: var( --o-footer-ink, var( --default-on-primary ) );
    --color-link: var( --o-footer-link, currentcolor );
    --color-hover: var( --o-footer-hover );

    padding-top: var( --gap-deca );
    padding-bottom: var( --gap-deca );
    color: var( --_txt );
    background-color: var( --_bg );

    &__nav {
        .menu {
            display: flex;
            font-size: .9em;
        }

        .menu__item + .menu__item {
            margin-left: 1ex;
            padding-left: 1ex;
            border-left: 1px solid;
        }

        .menu__link {
            display: block;
            line-height: 1.1;
        }
    }

    &__social {
        display: flex;
        margin-top: var( --font-line );
        margin-left: calc( var( --gap-deci ) * -1 );
        font-size: 1.5em;

        &__link {
            padding: var( --gap-deci );
        }
    }
}