::-webkit-input-placeholder { color: var( --color-placeholder ); }
::-moz-placeholder { color: var( --color-placeholder ); }
:-ms-input-placeholder { color: var( --color-placeholder ); }

.form {
    --txt-space: .7em;
    --txt-height: 1.2em;
    textarea,
    label {
        display: block;
    }

    &__buttons,
    &__field + &__field {
        margin-top: var( --gap );
    }

    &__buttons {
        text-align: center;
    }

    &__buttons .button {
        justify-content: center;
        width: 100%;
        max-width: 15em;
        font-size: 1.2em;
    }
}


.text-input {
    --error-brd: #a00;
    --error-bg: #fcc;
    --suffix-bg: #f7f7f7;
    width: 100%;
    padding: var( --txt-space );
    background: #fff;
    border: 1px solid var( --color-border );
    border-radius: 5px;
    transition: border .2s;
    box-shadow: none;

    -webkit-appearance: none;

    ::placeholder {
        color: var( --color-placeholder );
    }

    &:focus {
        --color-border: var( --grey );
    }
    input&:not(:placeholder-shown):invalid,
    select&:not([value='']):invalid {
        border-color: var( --error-brd );
        box-shadow: inset 0 0 0 1px var( --error-brd );
        /* background-image: linear-gradient( to right, #fff 6em, #fcc 69% ); */
        background-color: var( --error-bg );
    }

    &__suffix {
        display: inline-block;
        padding: var( --txt-space );
        border: 1px solid var( --color-border );
        border-left: 0;
        border-radius: 0 5px 5px 0;
        background-color: var( --suffix-bg );
    }

    .has-suffix & {
        flex-grow: 1;
        flex-basis: 50%;
        text-align: right;
        border-radius: 5px 0 0 5px;
    }

    &[type='number'] {
        font-variant-numeric: tabular-nums;
    }
}

.form__field.has-suffix {
    display: flex;
    flex-wrap: wrap;
}

.levitate {
    position: relative;

    label {
        position: absolute;
        top: 0;
        left: calc( var( --txt-space ) - .4em );
        transform: translateY( -50% );
        padding: 0 .5em;
        font-size: .9em;
        /* background-color: #fff; */
        background-image: linear-gradient( to top, transparent 38%, #fff 38% );
    }
}

.checkbox {
    position: absolute;
    clip: rect( 0 0 0 0 );
    clip-path: inset( 100% );
    width: 1px;
    height: 1px;
    overflow: hidden;
    margin: -1px;
    padding: 0;
    white-space: nowrap;
    border: 0;

    & + label {
        --color: var( --color-primary );
        position: relative;
        padding: .2em 1em .2em 1.6em;
        line-height: 1;
    }

    & + label::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY( -50% );
        display: block;
        width: 1.1em;
        height: 1.1em;
        background: #fff;
        border: 1px solid #ccc;
        border-radius: 2px;
    }
    & + label::after {
        content: '';
        position: absolute;
        top: 50%;
        left: .55em;
        transform: rotate( 45deg ) translate( -50%, -50% );
        transform-origin: 50% 0;
        width: .35em;
        height: .65em;
        border-right: 2px solid var( --color );
        border-bottom: 2px solid var( --color );
        opacity: 0;
    }

    &:hover + label::before,
    &:focus + label::before {
        border-color: var( --color );
    }

    &:checked + label::before {
        border-color: var( --color );
    }
    &:checked + label::after {
        opacity: 1;
    }
}
.radio + label::before {
    border-radius: 50%;
}

.dropdown {
    padding-right: 1.5em;
    appearance: none;
    background-image: url( 'data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512" ><path fill="%23666" d="M256,298.3L256,298.3L256,298.3l174.2-167.2c4.3-4.2,11.4-4.1,15.8,0.2l30.6,29.9c4.4,4.3,4.5,11.3,0.2,15.5L264.1,380.9c-2.2,2.2-5.2,3.2-8.1,3c-3,0.1-5.9-0.9-8.1-3L35.2,176.7c-4.3-4.2-4.2-11.2,0.2-15.5L66,131.3c4.4-4.3,11.5-4.4,15.8-0.2L256,298.3z"/></svg>' );
    background-size: .8em;
    background-repeat: no-repeat;
    background-position: calc( 100% - .5em ) center;
}

.button {
    --comp-bg: var( --color-primary );
    --comp-txt: var( --color-primary-inside );
    --hover-bg: var( --color-primary-darker );
    --hover-txt: var( --comp-txt );
    --disable-bg: #bbb;
    --disable-txt: #444;

    position: relative;
    z-index: 1;
    display: inline-flex;
    align-items: center;
    padding: 1ex;
    line-height: 1.2;
    text-align: center;
    color: var( --comp-txt );
    background: var( --comp-bg );
    border: 0;
    border-radius: 0;
    transition: background-color .2s;

    a&,
    a&:visited {
        color: var( --comp-txt );
    }
    a&:hover,
    a&:focus {
        color: var( --hover-txt );
    }

    &:hover,
    &:focus {
        background-color: var( --hover-bg );
    }

    &[disabled] {
        color: var( --disable-txt );
        background: var( --disable-bg );
    }
}