.navigation {
    /*
        building a good navigation with a11y in mind
        also providing a no JS fallback via CSS
        @see https://web.dev/website-navigation/
    */

    --_n-easeFunc: cubic-bezier( .16, 1, .3, 1 );
    --_n-easeDuration: .4s;
    --_n-layer-bg: var( --o-nav-layer-surface, var( --global-fill ) );
    --_n-layer-txt: var( --o-nav-layer-ink, var( --global-text ) );
    --_n-layer-pad: var( --o-nav-layer-pad, 1.5rem );
    --_n-link-pad: var( --o-nav-link-pad, .3em );
    --_n-lh: var( --o-nav-lineheight, var( --global-lineHeight ) );


    & .active > .menu__link,
    & .open > .menu__link {
        text-decoration: underline;
    }

    .menu {
        display: flex;

        &__item {
            position: relative;
        }

        &__link {
            display: block;
            padding: var( --_n-link-pad );
        }

        &__link:hover,
        &__link:focus {
            text-decoration: underline;
        }

        &__expander {
            display: block;
            width: 1.5em;
            height: calc( var( --_n-link-pad ) * 2 + var( --_n-lh ) );
            margin-left: -.5em;
            padding: 0;
            background-color: transparent;
            background-image: url( 'data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512" ><path fill="%23666" d="M256,298.3L256,298.3L256,298.3l174.2-167.2c4.3-4.2,11.4-4.1,15.8,0.2l30.6,29.9c4.4,4.3,4.5,11.3,0.2,15.5L264.1,380.9c-2.2,2.2-5.2,3.2-8.1,3c-3,0.1-5.9-0.9-8.1-3L35.2,176.7c-4.3-4.2-4.2-11.2,0.2-15.5L66,131.3c4.4-4.3,11.5-4.4,15.8-0.2L256,298.3z"/></svg>' );
            background-size: .8em;
            background-repeat: no-repeat;
            background-position: center;
            border: 0;
            transition: transform var( --_n-easeDuration );
            transform-origin: 50%;

            &[aria-expanded='true'] {
                transform: rotate(180deg);
            }

            &[aria-controls]:focus-visible {
                outline: var( --outline-size ) var( --outline-style ) var( --outline-color );
                outline-offset: var( --outline-offset, var( --outline-size ) );
            }
        }
    }

    @media (max-width: 39.99em) {
        &__overlay {
            position: fixed;
            z-index: 10;
            inset: 0;
            display: grid;
            grid-template-columns: [nav] 3fr [escape] 1fr;
            grid-template-rows: 1fr auto;
            transform: var( --_n-transform, translateX( -110vw ) );
            visibility: var( --_n-visibility, hidden );
            will-change: transform;
            transition:
                transform var( --_n-easeDuration ) var( --_n-easeFunc ),
                visibility .1s linear;

            color: var( --_n-layer-txt );
        }

        &__abyss {
            display: block;
            background: rgb( 0 0 0 / .3 );
            background: linear-gradient( to left, transparent, rgb( 0 0 0 / .3 ) );
        }


        [aria-expanded='true'] ~ &__overlay,
        &__overlay:target {
            --_n-visibility: visible;
            --_n-transform: translateX(0);
        }

        .js & .is-fallback,
        .no-js & .is-interactive {
            display: none;
        }

        &__open {
            display: flex;
            align-items: center;
            gap: .3em;
        }

        &__close.is-fallback {
            padding: var( --_n-layer-pad );
            background-color: var( --_n-layer-bg );
            border-top: .1em solid var( --global-borderColor );
        }
        .no-js &__abyss {
            grid-row: span 2;
        }

        .menu {
            flex-direction: column;
            justify-content: center;
            overflow-y: auto;
            overscroll-behavior-y: contain;
            padding: var( --_n-layer-pad );
            background-color: var( --_n-layer-bg );

            &__item {
                font-size: 1.3rem;
                /* border-block-end: .2em solid var( --global-primary ); */
                /* padding: var( --_m-item-padding, .5rem 0 ); */
            }

            &__expander {
                display: none;
            }

            .submenu {
                width: 100%;
                padding-left: var( --_space, .6em );

                & + & {
                    display: none;
                }
            }
        }

        & .menu > .menu__item > .menu__link {
            font-weight: 700;
        }
    }

    @media (min-width: 40em) {

        &__open,
        &__close {
            display: none;
        }

        .menu {
            .submenu.visible,
            &__item:hover > .submenu,
            &__item:focus-within > .submenu:not([id]),
            &__item .submenu:hover,
            &__item .submenu:focus {
                visibility: visible;
                opacity: 1;
                display: block;
                transform: rotateX(0);
                transition:
                    transform var( --_n-easeDuration ) var( --_n-easeFunc ),
                    opacity var( --_n-easeDuration ) ease-out;
            }

            &__item {
                display: flex;
            }
        }


        .submenu {
            position: absolute;
            z-index: 101;
            left: 0;
            top: calc( 100% + .05rem );
            transform: rotateX( -90deg );
            transform-origin: top center;
            visibility: hidden;
            min-width: 15ch;
            padding: .5em 0;
            background: var( --global-ui );
            border-radius: 4px;
            box-shadow: 0 .15em .25em rgb( 0 0 0 / .25 );
            opacity: .3;
            transition:
                transform var( --_n-easeDuration ) var( --_n-easeFunc ),
                opacity var( --_n-easeDuration ) ease-out,
                visibility 0s linear var( --_n-easeDuration );

            &::after {
                content: '';
                position: absolute;
                z-index: 102;
                top: -.75em;
                left: 10%;
                border: .5rem solid transparent;
                border-bottom-color: transparent;
                border-bottom-color: #f3f3f3;
                transform: translateX( -50% );
                transition: opacity var( --_n-easeDuration ) ease-out;
                will-change: opacity;
            }
        }
        .submenu .menu__link {
            width: 100%;
        }
    }
}

@media (prefers-reduced-motion: reduce) {
    .navigation {
        --_n-easeDuration: 1ms;
    }
}