/* see: https://web.dev/building-a-sidenav-component/ */

/*
    make a nice mouse and keyboard nav
    see https://css-tricks.com/solved-with-css-dropdown-menus/
    design inspiration: https://dev.to/5t3ph/css-only-accessible-dropdown-navigation-menu-1f95
*/
/*  for touch use a bit js to toggle an 'open' class - like the
    nav twig macro provides in case of current page is in submenu.
    this way we can depciate the checkbox hack for this usage and
    provide a better a11y experience.
    @see https://inclusive-components.design/menus-menu-buttons/
    @see https://bitsofco.de/accessible-multi-level-dropdown-navigation/
*/

@media (min-width: 40em) {
    .navigation {
        &__open,
        &__close {
            display: none;
        }
    }
    .menu {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;

        &__item {
            padding: 0 .4em;
        }

        &--minor {
            display: none;
        }
    }
    /* TODO: Style! */
    .submenu {
        display: none;
    }
}

@media (max-width: 39.99em) {
    .navigation {
        --easeOutExpo: cubic-bezier( .16, 1, .3, 1 );
        --duration: .6s;
        position: fixed;
        z-index: 10;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: grid;
        grid-template-columns: [nav] 3fr [escape] 1fr;

        visibility: hidden;
        transform: translateX(-110vw);
        will-change: transform;
        transition:
            transform var(--duration) var(--easeOutExpo),
            visibility 0s linear var(--duration);

        &:target {
            visibility: visible;
            transform: translateX(0);
            transition: transform var(--duration) var(--easeOutExpo);
        }

        &__layer {
            display: flex;
        flex-direction: column;
        justify-content: space-between;
            overflow-y: auto;
            padding: 1.5em;
            color: var( --overlay-txt );
            background-color: var( --overlay-bg );
        }

        &__open {
            padding: 1ex var( --space, 1rem );
            line-height: 1;

            &:focus,
            &:hover {
                color: var( --color-secondary );
            }
        }

        &__close {
            background: linear-gradient( to left, transparent, hsl( 0 0% 0% / .3 ) );
        }
    }
    .menu {
        margin: 0;
        padding: 0;
        list-style: none;

        &__item {
            position: relative;
            display: block;
            padding: .6em;
            white-space: nowrap;
        }
    }
}


@media (prefers-reduced-motion: reduce) {
    .navigation {
        --duration: 1ms;
    }
}