.news {
    & + & {
        margin-top: var( --gap-xl );
    }

    &__header {
        margin-bottom: var( --gap );
    }

    &__title {
        margin-bottom: .5ex;
        margin-left: -.075em; /* inlining line start with adjacent elements */
        font-size: 2em;
        line-height: 1.1;
        hyphens: auto;
    }

    &__image {
        display: block;
        width: 100%;
        height: auto;
        margin-bottom: var( --gap );
    }

    &__date {
        font-size: .8em;
        color: var( --global-muted );
    }

    & + .pager {
        margin-top: var( --gap-xl  );
    }

    &__archive + &__archive {
        margin-top: var( --gap-l );
    }

    &__dateArchive {
        .list {
            columns: 15ch auto;
        }
    }

    &__tagList {
        display: flex;
        flex-wrap: wrap;
        gap: 1ex;

        .post + & {
            margin-top: var( --gap-m );
        }
    }
}