.notice {
    /*
        API:
        --notice-backgroundColor
        --notice-text
        --notice-borderColor
        --notice-success-backgroundColor
        --notice-success-text
        --notice-success-borderColor
        --notice-warning-backgroundColor
        --notice-warning-text
        --notice-warning-borderColor
        --notice-error-backgroundColor
        --notice-error-text
        --notice-error-borderColor
    */
    --_bg: var( --notice-backgroundColor, var( --global-ui ) );
    --_txt: var( --notice-text, var( --global-text ) );
    --_brd: var( --notice-borderColor, var( --global-text ) );

    padding: var( --gap-xs );
    color: var( --_txt );
    text-wrap: pretty;
    background: var( --_bg );
    border-left: .4em solid var( --_brd );

    &:empty { display: none; }

    a {
        text-decoration: underline;
        color: inherit;

        &:hover {
            text-decoration: underline dashed;
        }
    }

    &--success {
        --_bg: var( --notice-success-backgroundColor, #e5f3ef );
        --_txt: var( --notice-success-text );
        --_brd: var( --notice-success-borderColor, #008566 );
    }

    &--warning {
        --_bg: var( --notice-warning-backgroundColor, #fcf8f2 );
        --_txt: var( --notice-warning-text );
        --_brd: var( --notice-warning-borderColor, #ffb820 );
    }

    &--error {
        --_bg: var( --notice-error-backgroundColor, #fdf7f7 );
        --_txt: var( --notice-error-text );
        --_brd: var( --notice-error-borderColor, #d0103a );
    }

    &:has( .icon ) {
        display: grid;
        grid-template-areas: 'icon title' 'icon text';
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr;
        padding: 0;
        border-left: 0;

        .title {
            padding-block-start: var( --gap-s );
            padding-inline: var( --gap-s );
        }
        .textflow {
            padding: var( --gap-s );
            padding-top: 0;
        }
    }

    .title {
        font-weight: 700;
        margin-bottom: var( --gap-xs );
    }

    .visualizer {
        grid-area: icon;
        display: flex;
        align-items: center;
        padding: var( --gap-xs );
        font-size: 1.2em;
        color: var( --_bg );
        background-color: var( --_brd );
    }
}