.tabs {
    /*
        API:
        --o-tabs-surface          background color
        --o-tabs-ink              text color
        --o-tabs-border           border width
        --o-tabs-border-color     border color
        --o-tabs-border-hover     border color on hover
    */

    &__head {
        display: none;
    }

    /* &__content {
        margin-bottom: var( --gap-deca );
    } */

    &__title {
        margin-bottom: var( --gap-deci );
        font-size: 1.2em;
    }

    &.is-interactive &__head {
        display: flex;
    }
    &.is-interactive &__title{
        display: none;
    }


    &--default {
        --_brdw: var( --o-tabs-border, .125em );
        --_brd: var( --o-tabs-border-color, var( --default-border-ink) );
        --_hvr: var( --o-tabs-border-hover, var( --default-primary-light ) );
        --_bg: var( --o-tabs-surface, var( --default-surface ) );
        --_txt: var( --o-tabs-ink, var( --default-ink ) );
    }
    &--default &__toggle {
        display: block;
        text-align: center;
        padding: var( --gap-deci );
        border: var( --_brdw ) solid transparent;
        border-bottom: 0;
        background: var( --_bg );
    }
    &--default &__toggle:not( [aria-selected] ):hover {
        box-shadow: inset 0 0 0 var( --_brdw ) var( --_hvr );
    }
    &--default &__toggle[aria-selected] {
        position: relative;
        top: var( --_brdw );
        border-color: var( --_brd );
    }
    &--default.is-interactive &__content {
        padding: var( --gap ) var( --gap-deci );
        border: var( --_brdw ) solid var( --_brd );
        background: var( --_bg );
    }
}