.tabs {
    /*
        API:
        --tabs-borderWidth        border width
        --tabs-borderColor        border color
        --tabs-borderHover        border color on hover
    */

    &__head {
        display: none;
    }

    /* &__content {
        margin-bottom: var( --gap-m );
    } */

    &__title {
        margin-bottom: var( --gap-xs );
        font-size: 1.2em;
    }

    &.is-interactive &__head {
        display: flex;
        align-items: flex-end;
        gap: max( 1px, .15em );
        margin-bottom: calc( -1 * var( --_borderWidth ) );
        padding-inline: var( --_borderWidth );
    }
    &.is-interactive &__title{
        display: none;
    }


    &--default {
        --_borderWidth: var( --tabs-borderWidth, min( 2px, .15em ) );
        --_borderColor: var( --tabs-borderColor, var( --global-borderColor) );
        --_hoverColor: var( --tabs-borderHover, var( --global-primary ) );
        --_fill: #f9f9f9;
    }
    &--default &__toggle {
        display: block;
        height: 100%;
        text-align: center;
        padding: var( --gap-xs );
        border-bottom: var( --_borderWidth ) solid var( --_borderColor, transparent );
        background-color: var( --_fill );
    }
    &--default &__toggle:not( [aria-selected] ):hover {
        --_borderColor: var( --global-primary );
    }
    &--default &__toggle[aria-selected] {
        --_borderColor: var( --global-primary );
        --_fill: color-mix( in oklab, var( --_hoverColor ), transparent 90% );
    }
    &--default.is-interactive &__content {
        padding: var( --gap ) var( --gap-s );
        border: var( --_borderWidth ) solid var( --_borderColor );
    }
}