.textimage {
    container: textimage / inline-size;

    &__title {
        grid-area: title;
        margin-bottom: var( --gap );
        font-size: var( --size-3 );
        font-weight: 700;
    }

    &__image {
        grid-area: image;
        margin-bottom: var( --gap );
    }

    &__content {
        grid-area: content;

        .contact__address {
            margin-top: var( --global-lineHeight );
        }
    }

    @container textimage (inline-size > 39em) {
        &__shell {
            --_areas:
                'image title'
                'image content';
            --_col-gap: var( --gap-m );

            display: grid;
            gap: 0 var( --_col-gap );
            grid-template-areas: var( --_areas );
            grid-template-rows: auto 1fr;
            grid-template-columns: .9fr 1fr;
            align-items: start;
        }

        .is-flipped &__shell {
            --_areas:
                'title image'
                'content image';
        }

        &__image {
            position: sticky;
            top: var( --gap-m );
        }
    }

    @container textimage (inline-size > 43em) {
        &__shell {
            --_col-gap: var( --gap-l );
        }
    }
}