.textflow {
    & > * + * {
        margin-top: var( --body-lh );
    }

    ul,
    ol { margin-left: 1em; }
    li { break-inside: avoid; }
    ol { list-style: decimal; }
    ul { list-style: disc; }
    li ol,
    li ul { margin-bottom: 0; }
    li ul { list-style-type: circle; }

    h2,
    h3,
    h4 {
        font-weight: 700;
    }
    h2 {
        font-size: 1.75em;
        line-height: calc( 1ex / .38 );
        margin-top: calc( 1ex / .38 );
    }
    h3,
    h4 {
        line-height: calc( 1ex / .37 );
        margin-top: calc( 1ex / .37 );
    }
    h3 {
        font-size: 1.5em;
    }
    h4 {
        font-size: 1.2em;
    }

    h2 + *,
    h3 + *,
    h4 + * {
        margin-top: 1ex;
    }

    table {
        width: 100%;
    }
    th,
    td {
        padding: .5em;
    }
    th {
        font-weight: 700;
        border-bottom: 2px solid var( --color-border );
    }
    th:empty {
        display: none;
    }
    tr + tr td {
        border-top: 1px solid var( --color-border );
    }

    svg,
    img {
        max-width: 100%;
        height: auto;
    }

    svg.full,
    img.full {
        display: block;
        max-width: 100%;
        height: auto;
    }

    a {
        text-decoration: underline;

        &:focus,
        &:hover {
            --link-color: var( --link-color-hover );
        }
        &:focus {
            outline: 2px solid;
            outline-offset: 3px;
        }
    }

    .button {
        text-decoration: none;
    }
}