.textflow {
    & > * + * {
        /* flow-space https://piccalil.li/quick-tip/flow-utility/ */
        margin-top: var( --flow-space, var( --base-line ) );
    }

    ul,
    ol { margin-left: 1em; }
    li { break-inside: avoid; }
    ol { list-style: decimal; }
    ul { list-style: disc; }
    ul li::marker {
        content: '•  ';
        color: var( --o-textflow-list-accent, var( --color-primary ) );
    }
    li ol,
    li ul { margin-bottom: 0; }

    h2 + *,
    h3 + *,
    h4 + * {
        --flow-space: calc( var( --base-line ) / 2 );
    }

    h2,
    h3,
    h4 { font-weight: 700; }
    h2 {
        font-size: 1.9em;
        color: var( --o-textflow-h2-accent, var( --color-primary ) );
        --flow-space: calc( var( --base-line ) * 1.5 );
    }
    h3 { font-size: 1.55em; }
    h4 { font-size: 1.2em; }

    hr { border: .1em solid; }

    table { width: 100%; }
    th {
        font-weight: 700;
        border-bottom: 2px solid var( --color-border );
    }
    th:empty { display: none; }
    tr + tr td { border-top: 1px solid var( --color-border );  }

    :where( a ) { text-decoration: underline; }

    /* @see https://css-tricks.com/standardizing-focus-styles-with-css-custom-properties/ */
    :is( a, button, input, textarea, summary ):focus-visible {
        outline: var( --outline-size ) var( --outline-style ) var( --outline-color );
        outline-offset: var( --outline-offset, var( --outline-size ) );
    }

    blockquote {
        position: relative;
        padding-left: 2rem;
        font-size: 1.2em;

        & > * + * {
            /* flow-space https://piccalil.li/quick-tip/flow-utility/ */
            margin-top: var( --flow-space, var( --base-line ) );
        }

        &:after,
        &:before {
            content: '';
            position: absolute;
        }
        /* gigantic quote marc
        &:before {
            content: '\201C';
            top: -.3rem;
            left: .5rem;
            transform: translateX( -50% );
            width: .5em;
            height: .5em;
            overflow: hidden;
            font-size: 5rem;
            text-align: center;
            line-height: 1;
            opacity: .6;
        }
        /* line on the left */
        &:after {
            top: 0;
            bottom: 0;
            left: 0;
            border-left: .4em solid var( --o-textflow-quote-accent, var( --color-primary ) );
            opacity: .6;
        }
        /**/
    }
}