/*
    center column with max-width and possibilities to break out - the grid way
    @see https://codepen.io/bitstarr/pen/BajbPRa
*/
.wrapping {
    display: grid;
    grid-template-columns:
        [full-start]
        minmax(1em, 1fr)
        [mid-start]
        minmax(0, var( --wrapper-offset ))
        [main-start]
        minmax(0, var( --wrapper ))
        [main-end]
        minmax(0, var( --wrapper-offset ))
        [mid-end]
        minmax(1em, 1fr)
        [full-end];
    align-content: start;
}
.wrapping > * {
    grid-column: main;
}
.breakout {
    grid-column: full;
    grid-template-columns: inherit;
}
.breakout--wrapping {
    display: inherit;

    .wrapped {
        grid-column: main;
    }
}
.breakout--mid {
    grid-column: mid;
    grid-template-columns: inherit;
}