.bullets {

    margin: calc( var( --gap ) * 2 ) 0;
    color: var( --comp-txt );

    &__headline {
        margin-bottom: var( --gap );
        font-size: 1.5em;
        color: var( --green );
    }

    &__list {
        position: relative;
        display: flex;
        overflow: hidden;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        /* scroll-snap-type: x proximity; */
        margin: 0 calc( var( --gap ) * -1 );
        padding: 0 var( --gap );
    }

    &__item {
        scroll-snap-align: start end;
        padding: calc( var( --gap ) / 2 ) 0;
    }
    &__item + &__item {
        margin-left: var( --gap );
        padding-left: var( --gap );
        border-left: 1px solid var( --border-color );
    }

    &__stopper::after {
        content: '';
        display: block;
        width: var( --gap );
        height: 1em;
    }

    &__link {
        --link-color: var( --grey );
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    &__icon {
        display: block;
        margin: 0 var( --gap ) calc( var( --gap ) / 2 );
        font-size: 4em;
    }

    &__label {
        --fmin: .7;
        --fmax: 1.1;
        --vwmin: 20;
        --vwmax: 35;
        --base: 1rem;

        width: 30vw;
        max-width: 9rem;
    }

    @media (max-width: 35em) {
        &__label {
            font-size: calc( ( var( --fmin ) * var( --base ) ) + ( var( --fmax) - var( --fmin ) ) * ( ( 100vw - ( var( --vwmin ) * var( --base ) ) ) / ( var( --vwmax ) - var( --vwmin ) ) ) );
        }
    }
}