html {
    /* optional, colored scrollbar
    scrollbar-color: var( --base-scroll-thumb ) var( --base-scroll-track );
    scrollbar-width: thin;
    /**/
}


/*
    Clever new sticky footer
    @see https://css-tricks.com/a-clever-sticky-footer-technique/
*/
body > footer {
    position: sticky;
    top: 100vh;
}


body {
    scroll-behavior: smooth;
}

.main {
    padding: var( --gap-m ) 0 var( --gap-l );
}
