.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: inherit;

    &__img {
        display: block;
        height: 2em;
        width: auto;
        fill: currentcolor;
        margin-right: 1ex;
    }
}
