.tag {
    /*
        API:
        --o-tag-surface         background
        --o-tag-ink             text color
        --o-tag-surface-hover   background on hover
        --o-tag-ink-hover       text color on hover
    */
    --_bg: var( --o-tag-surface, #888 );
    --_txt: var( --o-tag-ink, #fff );

    position: relative;
    display: inline-block;
    margin: 0 .7em .5em;
    padding: .3em .6em .3em 1em;
    line-height: 1;
    text-transform: uppercase;
    color: var( --_txt );
    background-color: var( --_bg );
    border-radius: 0 2px 2px 0;

    &:hover,
    &:focus {
        --_bg: var( --o-tag-surface-hover, var( --default-primary) );
        --_txt: var( --o-tag-ink-hover, var( --color-on-primary ) );
    }
    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        transform: rotateY(0deg) rotateZ(45deg);
        transform-origin: 0 0;
        height: 1.13em;
        width: 1.13em;
        background: var( --_bg );
        border-radius: 0 0 0 2px;
    }
    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY( -50% );
        height: .4em;
        width: .4em;
        background-color: #fff;
        border-radius: 50%;
    }
}