.header {
    --comp-bg: var( --header-bg );
    --comp-txt: var( --header-text );
    --comp-border: var( --grey-60 );
    --space: calc( var( --gap ) / 2 );

    color: var( --comp-txt );
    background-color: var( --comp-bg );
    box-shadow: inset 0 -1px 0 var( --comp-border );

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 var( --space );
        height: 100%;
    }
}


.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: inherit;
}
.logo__img {
    display: block;
    height: 2em;
    width: auto;
    fill: currentColor;
}
