.navigation {
    --overlay-bg: var( --grey-20 );
    --overlay-text: var( --green );
    --overlay-div: var( --color-04 );

    --menu-fs: 1.2em;
    --submenu-fs: 1em;
    --micro-fs: .8em;

    --link-color: var( --overlay-text );
}

.navigation__trigger {
    display: block;
    padding: 1ex var( --space, 1rem );
    line-height: 1;
    cursor: pointer;
}

/* .navigation__trigger:hover, */
.navigation__state:focus + .navigation__trigger,
.navigation__state:checked + .navigation__trigger {
    outline: none;
    background-color: var( --color--03 );
}

.navigation__state:checked + .navigation__trigger .expanded-hint,
.navigation__state:not(:checked) + .navigation__trigger .collapsed-hint {
    display: inline;
}

.navigation__state:checked + .navigation__trigger .collapsed-hint,
.navigation__state:not(:checked) + .navigation__trigger .expanded-hint {
    display: none;
}


.navigation .menu__link {
    display: block;
    min-width: 100%;
    padding: .6em;
    white-space: nowrap;
}
.navigation .menu__item {
    position: relative;
}

.navigation .icon {
    transition: transform .2s;
}


    .navigation__layer {
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 15%;
        z-index: 100;
        overflow-y: auto;
        padding: 1.5em 1.5em 0;
        color: var( --overlay-text );
        background-color: var( --overlay-bg );
    }
    .navigation__layer__abyss {
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 99;
        background-color: rgba( 0, 0, 0, .4 );
    }

    .navigation__state:checked ~ .navigation__layer,
    .navigation__state:checked ~ .navigation__layer__abyss {
        display: block;
    }

    .navigation .menu__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    .navigation .menu--main {
        margin-bottom: 2em;
    }
    .navigation .menu--main > .menu__item > .menu__link {
        font-size: var( --menu-fs );
    }

    .navigation .menu--minor {
        padding-bottom: 1.5rem;
    }

    .navigation .menu__link {
        padding: .5em 0;

        &:focus,
        &:hover {
            text-decoration: underline;
        }
    }

    /* .navigation .menu__item.uber {
        margin-bottom: 1.5rem;
        font-size: var( --micro-fs );
    } */

    /*
    .navigation .menu__item.primary > .menu__link {
        border-bottom: 1px dotted var( --overlay-div );
    }
    */

    .navigation .menu__item.primary + .menu__item.secondary {
        margin-top: 2em;
    }

    .menu__item.secondary {
        --link-color: var( --grey );
        font-size: var( --micro-fs );
    }
    .navigation .icon {
        margin-right: 1ch;
    }

    .navigation .menu__item.has-childre {
        position: relative;
    }

    .navigation .submenu {
        display: none;
        font-size: var( --submenu-fs );
    }
    .navigation .submenu .menu__link {
        padding-left: 1.5em;
    }
    .navigation .submenu .submenu {
        margin-left: 1ch;
    }

    .navigation .submenu__trigger {
        position: absolute;
        top: 1.1em;
        right: -.4em;
        transform: translateY( -50% );
        padding: .4em;
        line-height: 1;
    }

    .navigation .submenu__state:checked + .submenu__trigger .icon {
        transform: rotate( 90deg );
    }

    .navigation .submenu__state:checked + .submenu__trigger + .submenu {
        display: block;
    }


