/*
    API:
    --f-bool-ink-checked        tick color
    --f-bool-surface-checked    background color
    --f-bool-ink-disabled       disabled tick color
    --f-bool-surface-disabled   disabled background color
*/
@supports(-webkit-appearance: none) or (-moz-appearance: none) {
    .form {
        input[type='checkbox'],
        input[type='radio'] {
            --_background: var( --f-input-surface, transparent );
            --_bordercolor: var( --f-input-border, var( --default-border-ink ) );
            --_tickcolor: var( --f-bool-surface-checked, var( --default-primary ) );
            --_disable-bg: var( --f-bool-surface-disabled, var( --default-ui ) );
            --_disable-fg: var( --f-bool-ink-disabled, var( --default-muted ) );
            --_check-bg: var( --f-bool-surface-checked, var( --default-primary ) );
            --_check-fg: var( --f-bool-ink-checked, var( --default-on-primary ) );

            appearance: none;
            position: relative;
            display: inline-block;
            height: 1.2em;
            width: 1.2em;
            margin: 0;
            vertical-align: top;
            background: var( --_background );
            border: .1em solid var( --_bordercolor );
            box-shadow: 0 0 0 transparent;
            transition: background .3s, border-color .3s, box-shadow .2s;
            cursor: pointer;

            &:not( .special ) + label {
                display: inline-block;
                /* margin-left: .3em;
                padding: .2em 1.2em .2em 0;
                line-height: 1; */
                vertical-align: top;
                cursor: pointer;
            }

            &:checked {
                --_background: var( --_check-bg );
                --_bordercolor: var( --_check-bg );
                --_tickcolor: var( --_check-fg );
                --d-o: .3s;
                --d-t: .6s;
                --d-t-e: cubic-bezier( .2, .85, .32, 1.2 );
            }

            &:disabled {
                --_background: var( --_disable-bg );
                --_bordercolor: var( --_disable-fg );
                --_tickcolor: var( --_disable-fg );
                opacity: .7;
                cursor: not-allowed;

                & + label {
                    cursor: not-allowed;
                    opacity: .7;
                }
            }

            &:hover,
            &:focus {
                &:not(:checked) {
                    &:not(:disabled) {
                        --_bordercolor: var( --f-input-border-hover, var( --default-primary ) );
                    }
                }
            }
        }

        input[type='checkbox'] {
            &:after {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                display: block;
                transition: opacity var( --d-o, .2s );
            }
            &:not(.switch) {
                border-radius: .2em;

                &:after {
                    left: 50%;
                    top: 45%;
                    width: .4em;
                    height: .7em;
                    border: .15em solid var( --_tickcolor );
                    border-top: 0;
                    border-left: 0;
                    opacity: var( --o, 0 );
                    transform: translate( -50%, -50% ) rotate( 43deg );
                }

                &:checked {
                    --o: 1;
                }
            }

            &.switch {
                width: 2.6em;
                border-radius: .7em;

                &:after {
                    left: .2em;
                    top: 50%;
                    width: .65em;
                    height: .65em;
                    background: var( --ab, var( --_tickcolor ) );
                    border-radius: 50%;
                    transform: translate( var( --x, 0 ), -50% );
                    transition: transform var( --d-t, .3s ) var( --d-t-e, ease );
                }

                &:checked {
                    --ab: var( --_tickcolor );
                    --x: 1.3em;
                }

                &:disabled {
                    &:not(:checked) {
                        &:after {
                            opacity: .6;
                        }
                    }
                }
            }
        }

        input[type='radio'] {
            border-radius: 50%;

            &:checked {
                --_background: radial-gradient(circle, var( --_check-fg ) 0%, var( --_check-fg ) .25em, var( --_check-bg ) .27em );
            }
            &:disabled:checked {
                --_background: radial-gradient(circle, var( --_disable-fg ) 0%, var( --_disable-fg ) .25em, var( --_disable-bg ) .27em );
            }
        }
    }
}

.bool {
    &__wrap {
        display: inline-flex;
        align-items: start;
        gap: .6em;
        padding: .2em 1em .2em 0;
    }
}