.form {
    /*
        API:
        --f-form-label-ink          label text color
        --f-form-placeholder        placeholder text color
        --f-form-outline-ink        outline color override
        --f-form-error-ink          error text color
        --f-form-error-surface      error background
    */

    ::placeholder { color: var( --f-input-placeholder, #777 ); }

    textarea,
    label {
        display: block;
    }

    &__buttons,
    &__field + &__field {
        margin-top: var( --gap );
    }

    &__buttons {
        text-align: center;
    }

    &__notice {
        margin-bottom: var( --gap );
    }

    &__buttons .button {
        width: 100%;
        max-width: 15em;
        font-size: 1.2em;
    }

    /* help with accasibility, can be overwritten by textflow.css */
    /* @see https://css-tricks.com/standardizing-focus-styles-with-css-custom-properties/ */
    :is( a, button, input, textarea, select, summary ):focus-visible {
        outline: var( --outline-size ) var( --outline-style ) var( --f-form-outline-ink, var( --outline-ink ) );
        outline-offset: var( --outline-offset, var( --outline-size ) );
    }

    /* for our custom quiz field */
    .field-personality {
        display: flex;
        flex-wrap: wrap;

        & > label {
            width: 100%;
            margin-bottom: .5em;
            font-size: .9em;
            line-height: var( --font-line );
            color: var( --f-form-label-ink, var( --default-muted ) );
        }
    }
}