.form {
    /*
        API:
        --o-form-surface        background for fields
        --o-form-accent-hsl     accent color in HSL
        --o-form-accent-h       accent color hue
        --o-form-accent-s       accent color saturation
        --o-form-accent-l       accent color lightness

        Notes:
        * field text color will be default body text color due to CSS reset
        * hover, focus and disabled highlighting will be calculated via HSL
        * calculated values will be used by form elements
    */
    --_h: var( --o-form-accent-h );
    --_s: var( --o-form-accent-s );
    --_l: var( --o-form-accent-l );
    --_s-d: calc( var( --_s ) * .6 );
    --_form-border: hsl( var( --o-form-accent-hsl ) );
    --_form-border-light: hsl( var( --_h ) var( --_s ) 80% );
    --_form-active: hsl( var( --o-form-accent-hsl ) );
    --_form-on-active: var( --o-form-surface );
    --_form-disabled: hsl( var( --_h ) var( --_s-d ) 98% );
    --_form-on-disabled: hsl( var( --_h ) var( --_s-d ) 73% );
    --_form-disabled-border: hsl( var( --_h ) var( --_s-d ) 73% );

    ::placeholder { color: var( --o-form-placeholder-ink ); }

    textarea,
    label {
        display: block;
    }

    &__buttons,
    &__field + &__field {
        margin-top: var( --gap );
    }

    &__buttons {
        text-align: center;
    }

    &__buttons .button {
        width: 100%;
        max-width: 15em;
        font-size: 1.2em;
    }

    /* help with accasibility, can be overwritten by textflow.css */
    /* @see https://css-tricks.com/standardizing-focus-styles-with-css-custom-properties/ */
    :is( a, button, input, textarea, select, summary ):focus-visible {
        outline: var( --outline-size ) var( --outline-style ) var( --outline-color );
        outline-offset: var( --outline-offset, var( --outline-size ) );
    }

    /* for our custom quiz field */
    .field-personality {
        display: flex;
        flex-wrap: wrap;

        & > label {
            width: 100%;
            margin-bottom: .5em;
            font-size: .9em;
            line-height: var( --base-line );
            color: var( --o-form-placeholder-ink );
        }
    }
}