.levitate {
    position: relative;

    label {
        position: absolute;
        z-index: 1;
        top: calc( var( --txt-space ) * .5 );
        left: var( --txt-space );
        font-size: .9em;
        line-height: var( --txt-height );
        color: var( --placeholder );
    }
    label + * {
        padding-top: calc( var( --txt-space ) + var( --txt-height ) );
    }
}