.text-input {
    appearance: none;
    width: 100%;
    padding: var( --o-form-padding );
    line-height: var( --base-line );
    background: var( --_background, var( --o-form-surface ) );
    border: .1em solid var( --_bordercolor, var( --_form-border-light ) );
    border-radius: .3em;
    box-shadow: 0 0 0 transparent;
    transition: border-color .3s, box-shadow .2s;
    box-shadow: none;
    resize: vertical;

    &:hover {
        &:not(:disabled) {
            --_bordercolor: var( --_form-border );
        }
    }
    &:focus {
        --_bordercolor: var( --_form-border );
        box-shadow: 0 0 0 .1em hsl( var( --o-form-accent-hsl ) / .3 );
    }
    input&:not(:focus):not(:placeholder-shown):invalid,
    select&:not([value='']):invalid {
        border-color: var( --o-form-error-ink );
        box-shadow: inset 0 0 0 1px var( --o-form-error-ink );
        background-color: var( --o-form-error-surface );
    }

    &:disabled {
        --_background: var( --_form-disabled );
        --_bordercolor: var( --_form-disabled-border );
        opacity: .6;
        cursor: not-allowed;
    }
    &[readonly] {
        --_background: var( --_form-disabled );
        --_bordercolor: var( --_form-disabled-border );
    }

    &[type='number'] {
        font-variant-numeric: tabular-nums;
    }
}