/*
    API:
    --o-input-ink               input text color
    --o-input-surface           input background color
    --o-input-border            input border color
    --o-input-padding           input padding
    --o-input-border-hover      hover border-color
    --o-input-halo-hover        hover focus halo
    --o-input-ink-disabled      disabled text color
    --o-input-surface-disabled  disabled background color
    --o-input-border-disabled   disabled border color

*/
.text-input {
    --_text: var( --o-input-ink, var( --default-ink ) );
    --_background: var( --o-input-surface, transparent );
    --_bordercolor: var( --o-input-border, var( --default-border ) );

    appearance: none;
    width: 100%;
    padding: var( --o-input-padding, .7rem );
    line-height: var( --font-line );
    color: var( --_text );
    background: var( --_background );
    border: .1em solid var( --_bordercolor );
    border-radius: .3em;
    box-shadow: 0 0 0 transparent;
    transition: border-color .3s, box-shadow .2s;
    box-shadow: var( --_boxshadow, none );
    resize: vertical;

    &:hover {
        &:not(:disabled) {
            --_bordercolor: var( --o-input-border-hover, var( --default-primary ) );
        }
    }
    &:focus {
        --_bordercolor: var( --o-input-border-hover, var( --default-primary ) );
        --_boxshadow: 0 0 0 .1em var( --o-input-halo-hover );
    }
    input&:not(:focus):not(:placeholder-shown):invalid,
    select&:not([value='']):invalid {
        --_background: var( --o-form-error-surface );
        --_bordercolor: var( --o-form-error-ink );
        --_boxshadow: inset 0 0 0 .1em var( --o-form-error-ink );
    }

    &:disabled {
        --_text: var( --o-input-ink-disabled );
        --_background: var( --o-input-surface-disabled );
        --_bordercolor: var( --o-input-border-disabled );
        opacity: .6;
        cursor: not-allowed;
    }
    &[readonly] {
        --_text: var( --o-input-ink-disabled );
        --_background: var( --o-input-surface-disabled );
        --_bordercolor: var( --o-input-border-disabled );
    }

    &[type='number'] {
        font-variant-numeric: tabular-nums;
    }
}