{%- block label -%}
    {%- if form_field_help -%}
        <span class="tooltip" data-tooltip="{{ form_field_help|e }}">{{ form_field_label }}</span>
    {%- else -%}
        {{ form_field_label }}
    {%- endif -%}
    {%- if form_field_required %}
        {# <span class="required">*</span> #}
    {% else %}
        <small>{{ 'THEME_C.FORM.OPTIONAL'|t|e }}</small>
    {%- endif -%}
{%- endblock -%}